h1 {
  font-size: 16;
  padding: 20px;
}

.circle {
  border-radius: 100%;
}

.top-container{
  background-color: white;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid 20px;
}
.middle-container{
  background-color: red;
  height: 200px;
  width: 200px;
  margin-left: 260px;
  padding: 20px;
  border: solid 20px;
}
.bottom-container{
  background-color: blue;
  height: 200px;
  width: 200px;
  align: left;
  padding: 20px;
  border: solid 20px;
  margin-left: 520px;
border-color: black;
}
